// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright (c) 2019 BayLibre SAS. All rights reserved.
 * Copyright (c) 2020 Christian Hewitt <christianshewitt@gmail.com>
 * Copyright (c) 2021 flippy <uniqfreq@gmail.com>
 * Copyright (c) 2023 Guoxin Pu <pugokushin@gmail.com>
 */

/dts-v1/;

#include "meson-sm1-x96-air.dts"

/ {
	compatible = "amlogic,sm1";
	model = "HK1 Box/Vontar X3";

	memory@0 {
		device_type = "memory";
		reg = <0x0 0x0 0x0 0xFFFFFFFF>;
	};

	sound {
		model = "HK1-BOX";
	};

	vddgpu: regulator-vddgpu {
		compatible = "regulator-fixed";
		regulator-name = "mali";
		regulator-min-microvolt = <800000>;
		regulator-max-microvolt = <800000>;
		vin-supply = <&ao_5v>;
		regulator-always-on;
	};
	
	leds {
		compatible = "gpio-leds";
		status = "okay";
		sys_led {
			label = "sys_led";
			gpios = <&gpio_ao GPIOAO_11 GPIO_ACTIVE_HIGH>;
			default-state = "on";
			linux,default-trigger = "default-on";
		};
	};
};

&vddcpu {
	regulator-min-microvolt = <721000>;
	regulator-max-microvolt = <1022000>;
	pwms = <&pwm_AO_cd 1 1250 0>;
};

&ethmac {
	status = "okay";

	pinctrl-0 = <&eth_pins>, <&eth_rgmii_pins>;
	pinctrl-names = "default";
	phy-handle = <&external_phy>;

	phy-mode = "rgmii";
	amlogic,tx-delay-ns = <2>;

	snps,aal;
	snps,rxpbl = <0x8>;
	snps,txpbl = <0x8>;

	rx-fifo-depth = <4096>;
	tx-fifo-depth = <4096>;

	nvmem-cells = <&eth_mac>;
	nvmem-cell-names = "eth_mac";
};

&ext_mdio {
	external_phy: ethernet-phy@0 {
		/* 
		 * Realtek RTL8211F (0x001cc916) 
		 * JLSemi JL2101 (0x937c4032)
		 */
		reg = <0>;
		max-speed = <1000>;

		reset-assert-us = <30000>;
		reset-deassert-us = <80000>;
		reset-gpios = <&gpio GPIOZ_15 (GPIO_ACTIVE_LOW | GPIO_OPEN_DRAIN)>;

		interrupt-parent = <&gpio_intc>;
		/* MAC_INTR on GPIOZ_14 */
		interrupts = <26 IRQ_TYPE_LEVEL_LOW>;
	};
};

&uart_A {
	status = "okay";

	pinctrl-0 = <&uart_a_pins>, <&uart_a_cts_rts_pins>;
	pinctrl-names = "default";
	uart-has-rtscts;

	bluetooth {
		compatible = "brcm,bcm43438-bt";
		shutdown-gpios = <&gpio GPIOX_17 GPIO_ACTIVE_HIGH>;
		max-speed = <2000000>;
		clocks = <&wifi32k>;
		clock-names = "lpo";
	};
};

&mali {
	mali-supply=<&vddgpu>;
};

&usb {
	dr_mode = "host";
};

/* SDIO */
&sd_emmc_a {
	sd-uhs-sdr50;
	max-frequency = <100000000>;
};

/* Begin: fix hcy6355 wifi module problem */
&sdio_pins {
	mux {
		/delete-property/ bias-disable;
		bias-pull-up;
	};
};
/* End: fix hcy6355 wifi module problem */

/* SD card */
&sd_emmc_b {
	cap-sd-highspeed;
	max-frequency = <25000000>;
};

/* eMMC */
&sd_emmc_c {
	max-frequency = <200000000>;
};

&cpu_opp_table {
	opp-2016000000 {
		opp-hz = /bits/ 64 <2016000000>;
		opp-microvolt = <1000000>;
	};
};

&efuse {
	eth_mac: eth_mac@0 {
		reg = <0x0 0x06>;
	};

	bt_mac: bt_mac@6 {
		reg = <0x6 0x06>;
	};

	wifi_mac: wifi_mac@12 {
		reg = <0x0c 0x06>;
	};

	usid: usid@18 {
		reg = <0x12 0x10>;
	};
};
